//Code éditer par Johan
.footer {
  display: flex;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  background-color: #282828;
}
.footer_contact {
  flex-direction: column;
  align-items: initial;
}
.design_johan {
  display: flex;
  text-align: center;
}
