//Début code Johan
.footer {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.footer_contact {
  flex-direction: column;
  align-items: initial;
}
.design_johan {
  margin-left: 15px;
}
//Fin code Johan
