//Code éditer par Johan
.footer {
  display: flex;
  justify-content: center;
  background-color: #282828;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 30px;
}
.footer_contact {
  flex-direction: column;
  align-items: initial;
}
.design_johan {
  display: flex;
  text-align: center;
}
