//Code éditer par Johan
//Code principal du menu "home"
.section_home {
  gap: 25px;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  //max-width: 1440px;
}

.home {
  //padding: 2rem;
  padding: 2rem 1rem;

  .bento-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    margin-top: 50px;
  }

  //Box présentation
  /*.box-presentation {
    height: 200px;
  }*/

  //Box langages
  /*.box-languages {
    height: 200px;
  }*/

  .flag-icon {
    width: 20px;
    height: 15px;
    margin-right: 8px;
    vertical-align: middle;
    border-radius: 2px;
  }

  .bento-box,
  .bento-box.box-social {
    padding: 1.5rem;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: black;
    color: white;
  }

  .bold {
    font-weight: bold;
  }

  .bento-box.box-social {
    //height: 200px;

    .link_social {
      display: flex;
      gap: 1rem;
      //justify-content: center;
    }
  }

  //Box dernier projets
  .box-last-projects {
    padding: 20px;
    text-align: left;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    .project-image {
      width: 100%;
      //max-width: 400px;
      height: auto;
      //margin-top: 15px;
    }

    .button-link {
      display: block;
      width: 100px;
      margin: 10px auto;
      padding: 10px 20px;
      background: var(
        --Button-Gradient,
        linear-gradient(193deg, #504a4a -11.44%, #6e6e6e 123.93%)
      );
      color: white;
      text-decoration: none;
      border-radius: 5px;
      text-align: center;
      transition: background 0.2s ease-in-out;

      &:hover {
        background: linear-gradient(193deg, #504a4a, #6e6e6e);
        transform: scale(1.05);
      }
    }
  }
}

//Box contact
.contact_button {
  display: flex;
  /*background: var(
    --Button-Gradient,
    linear-gradient(193deg, #504a4a -11.44%, #6e6e6e 123.93%)
  );*/
  //box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(193deg, #6e6e6e, #504a4a);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  color: #f3f3f3;
  font-size: 1.5rem;
  //font-size: 16px;
  //padding: 10px;
  padding: 12px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  text-align: center;
  align-items: center;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.4);
  }
}

.box-web-tools {
  height: auto;
}

//Media queries
@media (min-width: 768px) {
  .home .bento-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .home .bento-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
