//Code éditer par Johan
//Contient les fichiers "sass" pour faire la liaison entre les documents "main.scss" et "main.jsx"
@use "./header.scss";
@use "./footer.scss";
@use "./home.scss";
@use "./projects.scss";
@use "./slider.scss";

//Reset
body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0c0e14;
  color: #fff;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

ul,
ol {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  list-style: none;
}
