//Code éditer par Johan

.section_projects {
  display: grid;
  grid-template-columns: 1fr; //Mobile : une seule colonne
  gap: 25px;
  margin-bottom: 20px;
  padding: 20px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr); //Tablette et desktop : deux colonnes
  }
  p {
    line-height: 1.4;
  }
}

.projects_title {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: black;
  padding: 20px;
}

.list_projects {
  background-color: black;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border: solid 1px #ccc;
  padding: 5px;
}
.projects_description {
  padding-left: 15px;
}
.button_link_projects {
  border-radius: 3px;
  background: var(
    --Button-Gradient,
    linear-gradient(193deg, #504a4a -11.44%, #6e6e6e 123.93%)
  );
  width: 100px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 14px;
  z-index: 20; //Plus élevé que celui du slider
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  margin-right: 15px;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.4);
  }
}

//Boutons de couleur pour langages et frameworks utilisés lors des projets
.projet-footer-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.project-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  flex: 1; //Pour occuper toute la largeur dispobible
  padding: 0;
}

.tag {
  padding: 5px 10px;
  border: 2px solid;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
}
