//Code éditer par Johan
.section_projects {
  gap: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.projects_title {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.button_projects {
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  color: white;
}
.list_projects {
  background-color: #181818;
  border-radius: 20px;
  max-width: 1440px;
  width: 92%;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  border: solid 3px #181818;
  position: relative; // Ajout ici
}
.img_projects {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.projects_description {
  padding-left: 15px;
}
.button_link_projects {
  border-radius: 3px;
  background: var(
    --Button-Gradient,
    linear-gradient(193deg, #504a4a -11.44%, #6e6e6e 123.93%)
  );
  width: 100px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 14px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 20; // Plus élevé que celui du slider
}
