//Code éditer par Johan

.section_projects {
  display: grid;
  grid-template-columns: 1fr; //Mobile : une seule colonne
  gap: 25px;
  margin-bottom: 20px;
  padding: 20px;
  p {
    line-height: 1.4;
  }
}

.projects_title {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px #8b3e3a; //Rouge brique profond
  background: rgba(12, 14, 20, 0.8); //Fond semi-transparent
}

.list_projects {
  background: rgba(12, 14, 20, 0.8); // ond semi-transparent
  border-radius: 20px;
  border: solid 1px #ccc;
  padding: 5px;
  box-shadow: 0 4px 8px #8b3e3a; //Rouge brique profond
}
.projects_description {
  padding-left: 15px;
}
.button_link_projects {
  border-radius: 3px;
  background: var(
    --Button-Gradient,
    linear-gradient(193deg, #504a4a -11.44%, #6e6e6e 123.93%)
  );
  padding: 5px;
  width: 15%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 14px;
  z-index: 20; //Plus élevé que celui du slider
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  margin-right: 15px;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px #a55e3f; //Marron orangé
  }
}

//Boutons de couleur pour langages et frameworks utilisés lors des projets
.projet-footer-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.project-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  flex: 1; //Pour occuper toute la largeur dispobible
  padding: 0;
}

.tag {
  padding: 5px 10px;
  border: 2px solid;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
}

//Media Queries "Mobile first"
//Contient la mise en page visuelle du Bento Design Tablette et desktop
@media (min-width: 768px) {
  .section_projects {
    grid-template-columns: repeat(2, 1fr); //Tablette et desktop : deux colonnes
  }
}
