//Code éditer par Johan
.slider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: auto;
}

.slider-image {
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 18px;
  padding: 0.5rem;
  cursor: pointer;
  z-index: 10; //Moins élevé que celui du projects
  border-radius: 3px;
  transition: box-shadow 0.2s ease-in-out;

  &:hover {
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.4);
  }
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}
