//Code éditer par Johan
.slider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: auto;
}

.slider-image {
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 18px;
  padding: 0.5rem;
  z-index: 10; //Moins élevé que celui du projets
  border-radius: 3px;
  transition: box-shadow 0.2s ease-in-out;

  &:hover {
    box-shadow: 
      /*Noir bleuté*/ 0px 4px 8px rgba(12, 14, 20, 0.6),
      /*Marron orangé*/ 0px 6px 12px rgba(165, 94, 63, 0.6),
      /*Rouge brique profond*/ 0px 8px 16px rgba(139, 62, 58, 0.6),
      /* Burgundy classique*/ 0px 10px 20px rgba(128, 0, 32, 0.6);
  }
  //Facilite la navigation au clavier
  button:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px white, 0 0 0 5px #a55e3f;
  }
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}
